@model SampleApp.Controllers.ConfirmTransactionModel
<html>
<head>
    <title>3D secure</title>
</head>
<body>

    <form action="~/Checkout/ConfirmTransaction" id="formsuccess" method="post" role="form" target="_parent">
        <div class="form-group">
            <div class="show-js">
                Processing...
            </div>
            <div class="hide-js">
                <button type="submit" name="Back" class="btn btn-orange col-xs-12">Back</button>
            </div>
        </div>
        <input id="Result" name="Result" type="hidden" value="@Model.Result">
        <input id="ReceiptId" name="ReceiptId" type="hidden" value="@Model.ReceiptId">
        <script type="text/javascript">
            document.getElementById("formsuccess").submit();
        </script>
    </form>
</body>
</html>

