@model SampleApp.Controllers.ConfirmTransactionModel
@{
    ViewData["Title"] = "Transaction sucessful!";
}
<h2>The transaction was had a result of @Model.Result</h2>
<p>Receipt id for this transaction is: @Model.ReceiptId</p>

@Html.ActionLink("Checkout!", "Index", "Checkout")
