@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment _env
@{
    ViewData["Title"] = "Checkout";
}


<!DOCTYPE html>
<html>
<head>
    <script>

        /* Style being applied to the iframe */

        var customStyle = {

            // All the elements in the iframe
            // Position are from field + label

            iframe: {
                showCardTypeIcons: true,
                useTranslations: false,
                backgroundColor: '#f5f5f5',
                layout: 'compact',
                styles: {},
                errorFieldId: 'errors',

            }
        };
    </script>
    <meta charset="UTF-8">
    <environment include="Development">
        <script src="https://additionsjs.karatepay.com/releases/v0.1.365.1/judopay.min.js"></script>
    </environment>
    <environment include="staging">
        <script src="https://additionsjs.karatepay.com/releases/v0.1.365.1/judopay.min.js"></script>
    </environment>
    <environment include="prod">
        <script src="https://additionsjs.judopay.com/releases/v0.1.365.1/judopay.min.js"></script>
    </environment>
</head>
<body>
    <br />
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #e6e6e6">
                <h3 class="panel-title">
                    Card Details
                </h3>
            </div>
            <div class="panel-body" style="background-color: #f5f5f5">

                <form role="form" action="/Checkout/Pay" method="post" id="payment-form">
                    <div id="payment-iframe">
                    </div>
                    <!-- Used to display form errors -->
                    <button id="submit-payment-button" name="submit-payment" class="btn col-xs-8 col-xs-offset-2" style='font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 16px;font-weight: bold;background-color: #ffbe0f; box-shadow:0 2px 0 0 #b3850b'>
                        Pay
                    </button>
                </form>
            </div>
        </div>
        <div id="errors" class="judopay-errors" style="height: 38px">
        </div>
    </div>
</div>
    
<div id="languages" class="btn col-xs-8 col-xs-offset-2">
    <div id="en" class="flag flag-gb" onclick="javascript: judo.changeIframeLanguage('en');"></div>
    <div id="es" class="flag flag-es" onclick="javascript: judo.changeIframeLanguage('es');"></div>
    <div id="fr" class="flag flag-fr" onclick="javascript: judo.changeIframeLanguage('fr');"></div>
    <div id="de" class="flag flag-de" onclick="javascript: judo.changeIframeLanguage('de');"></div>
    <div id="pt" class="flag flag-pt" onclick="javascript: judo.changeIframeLanguage('pt');"></div>
</div>
</body>
</html>
<script>
    var judo = new JudoPay('20KQVtHk3xQwWZXQ', true);
    var payment = judo.createCardDetails('payment-iframe', customStyle.iframe);

    // Handle form submission
    var form = document.getElementById('payment-form');

    function returnHandler(oneUseToken, clientDetails) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'oneUseToken');
        hiddenInput.setAttribute('value', oneUseToken);

        form.appendChild(hiddenInput);

        var deviceInput = document.createElement('input');
        deviceInput.setAttribute('type', 'hidden');
        deviceInput.setAttribute('name', 'deviceId');
        deviceInput.setAttribute('value', clientDetails);

        form.appendChild(deviceInput);

        // Submit the form
        form.submit();
    }

    function errorHandler(result) {
        // Inform the user if there was an error
        // You will want to report on this
        var errorElement = document.getElementsByClassName('judopay-errors')[0];
		if (errorElement === null) return;
        errorElement.textContent = result.error.message;
    }

    form.addEventListener('submit', function (event) {
        event.preventDefault();

        judo.createToken(payment)
            .then(function (result) {
                if (result.error) {
                    errorHandler(result);
                } else {
                    // Send the one use token to your server to be used
                    returnHandler(result.oneUseToken, result.clientDetails);
                }
            })
            .catch(function (result) {
                errorHandler(result);
            });
    });
</script>
