@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Overview</h2>
        <ul>
            @Html.ActionLink("Pay", "Pay", "Checkout")
        </ul>
    </div>
    <div class="col-md-4">
    </div>
</div>
